<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<!-- Second navbar for sign in -->
<div>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mockup</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href='{{ url_for("order") }}'>Request Offer</a></li>
                    {% if logged is not 'true' %}
                    <li><a href='{{ url_for("login") }}'>Log In</a></li>
                    {% endif %}
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>
                    {% if logged %}
                    <a> Hello, {{ email }} </a>
                    {% else %}
                    <a> Hello, Guest</a>
                    {% endif %}
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class='login-form'>
                <center>
                    <form class="login-form" action='{{ url_for("add_order") }}' method="POST">
                        <div class="avatar"><i class="material-icons">&#xe90e;</i></div>
                        <h4 class="modal-title">New Request</h4>

                        <div class="form-group">
                            <label class="form-group">Industry: </label>
                            <select class="form-control" name='industry' id='industry'>
                                <option value='Metal'>Metal</option>
                                <option value='Wood'>Wood</option>
                                <option value='Electric'>Electric</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-group">Item Description: </label>
                            <textarea class="form-control" name="description" placeholder="Item description"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="form-group">Email: </label>
                            <input type="text" class="form-control" type='email' name='email' id='email' placeholder="Email" required>
                        </div>

                        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Send">
                    </form>
                </center>
            </div>
        </div>
    </div>
</div>

</body>
</html>

